html{
    scroll-behavior: smooth;
}
body{
    font-family: arial;
    padding: 0px;
    margin: 0px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 30px;
    background-color: #313131;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    color: #b004c0;
    font-size: 30px;
    font-weight: bold;
}
.menu ul{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 18px;
}
.menu ul li a {
    text-decoration: none;
    color: white;
    transition-property: color;
    transition-duration: 0.5s;
}
.menu ul li a:hover{
    color: #b004c0;
}

/*section 1*/

#sobre{
    background-color: #b004c0;
    padding: 110px 20px;
    display: flex;
    justify-content: center;
}
.textos{
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    max-width: 1100px;
    width: 100%;
    text-align: center;
}
.container{
    max-width: 390px
}
#sobre h2{
    font-size:30px ;
    color: white;
    margin-bottom: 10px;
}
#sobre p{
    font-size: 20px;
    color: white;
    max-width: 600px;
}
.imagem img{
    max-width: 310px;
    border-radius: 20px;
    height: auto;
}

/*section 3*/

#habilidades{
    background-color: #313131;
    padding: 90px 20px;
    display: block;
    text-align: center;
    margin: 0px;
    align-items: center;
    justify-content: center;
}
#habilidades h2{
    color: white;
    font-size: 28px;
    font-weight: bold;
}
.formas{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.forma1{
    background-color: #b004c0;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
    text-align: center;
    transition-property: transform ease-in-out;
    transition-duration: 0.5s;
}
.forma1:hover{
    transform: translateY(-20px);
}
.forma1 img{
    width: 100%;
    height: 150px;
    object-fit: cover
}
.forma1 h4{
    font-size: 20px;
    margin: 0 15px;
}
.forma1 p {
    font-size: 17px;
    margin: 27px 0px;
}
.cont1{
    padding: 15px;
}

.forma2{
    background-color: #b004c0;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
    text-align: center;
    transition-property: transform ease-in-out;
    transition-duration: 0.5s;
}
.forma2:hover{
    transform: translateY(-20px);
}

.forma2 img{
    width: 100%;
    height: 170px;
    object-fit: cover
}
.cont2{
    padding: 15px;
}
.forma2 h4{
    font-size: 20px;
    margin: 0 5px;
    
}
.forma2 p {
    font-size: 17px;
}

.forma3{
    background-color: #b004c0;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
    text-align: center;
    transition-property: transform ease-in-out;
    transition-duration: 0.5s;
}
.forma3:hover{
    transform: translateY(-20px);
}
.forma3 img{
    width: 100%;
    height: 170px;
    object-fit: cover
}
.cont3{
    padding: 15px;
}
.forma3 h4{
    font-size: 20px;
    margin: 0 5px;
    
}
.forma3 p {
    font-size: 17px;
}

/*section 4*/

#projetos{
    background-color: #b004c0;
    padding: 90px 20px;
    display: block;
    text-align: center;
    margin: 0px;
    align-items: center;
    justify-content: center;
}
#projetos h2{
    color: white;
    font-size: 28px;
    font-weight: bold;
}
#projetos h3{
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}
.formas{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.forma4{
    background-color: #313131;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
    text-align: center;
    transition-property: transform ease-in-out;
    transition-duration: 0.5s;
}
.forma4:hover{
    transform: translateY(-20px);
}
.forma4 img{
    width: 100%;
    height: 150px;
    object-fit: cover
}
.forma4 h4{
    font-size: 20px;
    margin: 0 15px;
}
.forma4 p {
    font-size: 17px;
    margin: 27px 0px;
}
.cont1{
    padding: 15px;
}

.forma5{
    background-color: #313131;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
    text-align: center;
    transition-property: transform ease-in-out;
    transition-duration: 0.5s;
}
.forma5:hover{
    transform: translateY(-20px);
}

.forma5 img{
    width: 100%;
    height: 150px;
    object-fit: cover
}
.cont2{
    padding: 15px;
}
.forma5 h4{
    font-size: 20px;
    margin: 0 5px;
    
}
.forma5 p {
    font-size: 17px;
}

.forma6{
    background-color: #313131;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
    text-align: center;
    transition-property: transform ease-in-out;
    transition-duration: 0.5s;
}
.forma6:hover{
    transform: translateY(-20px);
}
.forma6 img{
    width: 100%;
    height: 170px;
    object-fit: cover
}
.cont3{
    padding: 15px;
}
.forma6 h4{
    font-size: 20px;
    margin: 0 5px;
    
}
.forma6 p {
    font-size: 17px;
}

/*section 5*/

#contatos{
    background-color: #313131;
    padding: 90px 20px;
    text-align: center;
    margin: 0px;
}
#contatos h2{
    font-size: 28px;
    color: white;
    font-weight: bold;
}
.conteudo1{
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    flex-wrap: wrap;
    gap: 20px;
}
.contatos{
    border-radius: 15px;
    overflow: hidden;
    width: 250px;
    text-align: center;
    color: white;
}
.contatos img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #313131;
}
.icones{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.icones img{
    width: 25px;
    height: 25px;
    box-shadow: 2px 2px 5px #313131;
}

/*feedback*/
#feedback{
    background-color: #b004c0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.conteudofeedback{
    position: relative;
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caixa{
    position: relative;
    background-color: #333;
    color: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    z-index: 2;
    width: 600px;
}
h5{
    text-align: left;
    font-size: 22px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input, textarea {
    border: 1px solid;
    background-color: #444;
    color: white;
    border-color: #ccc;
    max-width: 100%;
    padding: 5px;
    border-radius: 5px;
    transition-property: border-color 5s ease-in-out;
    outline: none;
}
input:focus, textarea:focus{
    border-color: #b004c0;
}
textarea{
    height: 80px;
}
.botaoenviar{
    background-color: #b004c0;
    color: white;
    border-radius: 5px;
    padding: 5px;
    max-width: 100%;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition-property: background-color 0.5s;
}
.botaoenviar:hover{
    background-color: #b004c0;
}

